<section class="about__page">
    <h1 class="title">Rick and Morty GraphQL APP</h1>
    <div class="about__container">
        <p class="about_paragraph">
            Angular 12 + Rick and Morty GraphQL API.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Debitis quasi, rem harum voluptatum, totam natus odit illum quae corrupti excepturi ipsa laboriosam
            sint provident aliquam commodi explicabo assumenda rerum minima ipsa laboriosam.
        </p>
        <br><br>
        <figure class="about__img">
            <img src="/assets/imgs/web_dev.svg" alt="web dev" class="about_picture" rel="preload" as="image" width="406"
                height="306">
        </figure>
    </div>
    <p class="about__copy">
        Developed by <span class="text-white">WILIAN MORALES</span>
    </p>
</section>