<div class="about__page">
    <div class="container">
        <h1 class="title">Rick and Morty GraphQL APP</h1>
        <div class="about__container">
            <p class="about_paragraph">
                Angular 12 + Rick and Morty GraphQL API.
                <br><br>
                Proyecto realizado siguiendo el curso de <b>Domini Code</b>.
                <br>
                Para utilizar la API de Rick and Morty GraphQL, se instaló <b class="text-orange">Apollo Angular</b>
                para poder interactuar con las consultas en GraphQL mediante querys y poder obtener los datos de la API.
                <br><br>
                Así mismo para el Scroll Infinito se utilizó <b class="text-orange">ngx-infinite-scroll</b> y <b
                    class="text-orange">ngx-Toastr</b> para las notificaciones.
            </p>
            <br><br>
            <figure class="about__img">
                <img src="/assets/imgs/web_dev.svg" alt="web dev" class="about_picture" rel="preload" as="image">
            </figure>
        </div>
        <p class="about__copy">
            Developed by <span class="text-orange">WILIAN MORALES</span>
        </p>
    </div>
</div>