.search__container {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 95%;
    margin: 1rem auto;
    align-content: center;
    padding: 1rem;
    background: rgb(250 246 246 / 16%);
    border-radius: 0.5rem;
  
    .search__name {
      width: 100%;
    }
  
    label {
      color: #fff;
      margin-bottom: 0.25rem;
      display: block;
    }
  
    .search__input {
      width: 85%;
      padding: 1rem 0.75rem;
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.5;
      background-color: #fff;
      border: 1px solid #cdd4da;
      border-radius: 0.25rem;
      height: calc(2.25rem + 2px);
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  
      &:focus {
        outline: none;
      }
    }
  
    .search__button {
      width: 10%;
      padding: 0.75rem;
      border: 1px solid #f89406;;
      background: #f89406;
      color: #fff;
      font-weight: 600;
      border-radius: 0.25rem;
      height: calc(2.25rem + 2px);
      margin: 1px 10px;
      cursor: pointer;
  
      &:focus {
        outline: none;
      }
    }
  }
  
  @media screen and (max-width: 992px) {
    section.search__container {
      flex-direction: column;
  
      .search__name {
        width: 100%;
        margin-bottom: 1rem;
      }

      .search__input {
        width: 100%;
      }
  
      .search__button {
        width: 100%;
        margin: 5px 0;
      }
    }
  }
  